.overscreen {
    white-space: nowrap;
    overflow: hidden;
    margin-left: -50px;
}

img {
  margin: 50px;
}

.redcolor {
  background-color: #af1f24;
}

.redfont {
  color: #af1f24;
}

.yellowcolor {
  background-color: #f6be00;
}
.yellowfont {
  color: #f6be00;
}

.bluecolor {
  background-color: #001e60;
}

.bluefont {
  color: #001e60;
}

.moveit {
  padding-left: 1em;
}

.spacer {
  margin: 16px 0px 16px 0px;
  padding: 0px 16px 0px 16px;
}