body {
  margin: 0px;
  padding: 0px 0px 0px 36px;
  font-family: 'CaladeaRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 2em;
}

h1 {
  font-family: 'BebasNeueBold';
  font-weight: normal; 
  font-style: normal;
  text-align: center; 
}