body figcaption{
  margin: 0px;
  padding: 0px 0px 0px 48px;
  font-family: 'Oxygen', sans-serif;
  font-weight: normal; 
  font-style: normal; 
  font-size: 1em;
}

h1 {
  font-family: 'BebasNeueBold';
  font-weight: normal; 
  font-style: normal;
  text-align: center; 
}

