body figcaption{
  margin: 0px;
  padding-top: 0px;
  font-family: 'Oxygen', sans-serif;
  font-weight: normal; 
  font-style: normal; 
  font-size: 1em;
}

h1 {
  font-family: 'BebasNeueBold';
  font-weight: normal; 
  font-style: normal;
  text-align: center; 
  margin-bottom: 16px;
}

